body {
  font-family: 'Poppins', sans-serif;
  background-color: #0033A0;
  margin: 0;
  padding: 0;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #FFD700;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  color: #0033A0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}



header h1 {
    text-align: center;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.contenedor {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 30px;
}

.contenedor p {
  max-width: 400px;
  line-height: 1.5;
  color: #f8f8f8;
}

button {
  background-color: #FFD700;
  color: #0033A0;
  font-weight: bold;
  border: none;
  padding: 12px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 25px;
  font-size: 16px;
}

button:hover {
  background-color: #ffea00;
  transform: scale(1.05);
}

footer {
  text-align: center;
  background-color: #002060;
  padding: 10px;
  color: #FFD700;
  font-size: 14px;
}
